<form action="/links" method="POST" >
  <label for="title"> Title:
    <input type="text" name="title">
  </label>
  <label for="url"> url:
    <input type="text" name="url">
  </label>
  <p> <input type="submit" value="Add link" />
  </p>
</form>
